@{
    ViewData["Title"] = "Professor";

}
<center>
    <h1>Seja Bem vindo Professor</h1>
    <img src="~/Academyimagens/bemvindoProfessor.png" alt="some text" width=400 height=500>

    <h4>Escolha uma das opções abaixo para continuar</h4>
    <a href="https://localhost:44312/Aluno/GerenciamentoAluno" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Cadastrar Alunos</a>
    <a href="https://localhost:44312/Aula/Index" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Cadastrar Aulas</a>
    <a href="https://localhost:44312/Exercicio/CadastrarLista" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Cadastrar Treinos</a>
</center> 