@model Aluno
@{
    ViewData["Title"] = "Alterar";
}
    <form asp-action="Alterar" method="post">
        <fieldset>
            <legend>Cadastrar Id</legend>
            <div class="form-group">
                <label>AlunoId:</label>
                <input class="form-control"
                       type="text" readonly=""
                       asp-for="AlunoId" />
                <input type="hidden"
                       asp-for="AlunoId" />
            </div>

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control"
                       asp-for="Nome" />

                <div class="form-group">
                    <label>Cpf:</label>
                    <input type="text" class="form-control"
                           asp-for="Cpf" />
                </div>

                <div class="form-group">
                    <label>Senha:</label>
                    <input type="text" class="form-control"
                           asp-for="Senha" />
                </div>
                <div class="form-group">
                    <label>Imagem:</label>
                    <input type="text" class="form-control"
                           asp-for="Imagem" />
                </div>
                <div class="form-group">
                    <label>Sobre:</label>
                    <input type="text" class="form-control"
                           asp-for="Sobre" />
                </div>
                <input type="submit" class="btn btn-success" value="Salvar" />
        </fieldset>
    </form>