<center>
    <img src="~/Academyimagens/midomido.gif" alt="some text" width=500 height=350 style=" border: 10px solid #2e7d32">
</center><br>
<a href="TreinoAluno" type="button" class="btn btn-success btn-lg btn-block">Visualizar Treino</a>
<a href="ViewAula" type="button" class="btn btn-outline-success btn-lg btn-block">Visualizar Aula</a>
<a href="" type="button" class="btn btn-light btn-lg btn-block">Alterar meu Perfil</a>


